/* App.css */

body,
html {
  height: 100%; /* Ensure full-height on mobile */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
h3 {
  font-size: 1.3em;
}
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for NAVBAR */
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar container styling */
.navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(28, 129, 229, 0.1);
  padding: 10px;
  position: relative;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 100;
}

/* Nav links list */
.nav-links {
  display: flex;
  justify-content: center; /* Align horizontally */
  align-items: center;
  list-style-type: none;
}

/* Individual link items */
.nav-links li {
  margin: 0 20px;
}

/* Styling the links */
.nav-links a,
.nav-links {
  color: var(--fc-text-color);
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  transition: background-color 0.5s ease;
}

.nav-links a:hover {
  background-color: var(--fc-button-hover-bg-color);
  border-radius: 4px;
}

/* Style for the logout button */
.nav-links button {
  background: none;
  border: none;
  color: var(--fc-text-color);
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  transition: background-color 0.5s ease;
}

.nav-links button:hover {
  background-color: var(--fc-button-hover-bg-color);
  border-radius: 4px;
}
/* Style for the hamburger button */
.hamburger {
  font-size: 30px;
  background: none;
  border: none;
  color: var(--fc-text-color);
  cursor: pointer;
  display: none; /* Hidden on desktop */
  z-index: 101;
}
/* ##################
end of navbar styling
################## */

/* Add some padding to the main content to avoid being hidden by the navbar */
.signup {
  padding-top: 0;
}

/* ##################
Styling for Dashboard
###################*/

/* Completed task/project on dashboard */
.completed {
  background-color: var(--fc-event-completed-bg-color);  /* Or any color you prefer */
  color: var(--fc-button-text-color);
  text-decoration: line-through; /* Optional to strike through completed items */
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Outstanding task/project on dashboard */
.outstanding {
  background-color: var(--fc-event-bg-color);
  color: var(--fc-button-text-color);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Wrapper to center the dashboard both horizontally and vertically */
.dashboard-wrapper {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  min-height: 90vh; /* Full viewport height to center vertically */
}

/* General dashboard layout */
.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three-column layout */
  gap: 20px; /* Adds space between columns */
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  background-color: #fff; /* Give it a background to stand out */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin: 0 auto; /* Ensure it's centered horizontally */
}

/* Left Column: User Info and Weather widget some are combined*/
.current-user {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--fc-text-color);
  text-align: left;
  padding: 20px;
}
.left-column {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.left-column h3 {
  margin-bottom: 10px;
}

.left-column p {
  margin: 5px 0;
}

/* left column weather */
.weather-widget {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center;
  padding: 20px;
  background-color: rgba(1, 36, 131, 0.137); /* Light background for clarity */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Adjust as necessary */
  max-width: 400px; /* Restrict the max width for the widget */
  margin: 20px auto;
}

.weather-widget h3 {
  margin-bottom: calc(-20px);
}

.weather-widget img {
  height: 150px;
  margin-bottom: calc(-45px);
}

.weather-widget p {
  font-size: 1.2em;
  margin: 0 0 20px 0;
}

.weather-widget form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-widget input {
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  font-size: .9em;
  border-color: rgba(66, 113, 203, 0.5);
  transition: border-color 0.5s ease;
}
.weather-widget input:focus {
  border-color: var(--fc-button-border-color);
  outline: none;
}

.weather-widget button, .current-user button {
  padding: 10px 20px;
  background-color: var(--fc-button-bg-color);
  border: 1px solid var(--fc-button-border-color);
  color: var(--fc-button-text-color);
  border-radius: 5px;
  cursor: pointer;
  font-size: .9em;
  transition: background-color 0.5s ease;
}

.weather-widget button:hover, .current-user button:hover {
  background-color: var(--fc-button-hover-bg-color);
  border: 1px solid var(--fc-button-border-color);
}

.weather-widget p.error {
  color: red;
  margin-top: -5px;
  font-size: 0.9em;
}

/* Middle Column: Outstanding and Completed Tasks & Projects */
.middle-column {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.middle-column h3 {
  margin-bottom: 15px;
}

.middle-column .outstanding-tasks, .middle-column .completed-tasks {
  margin-bottom: 20px;
}

.middle-column p {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

/* Right Column: Completed tasks/projects */
.right-column {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.right-column h3 {
  margin-bottom: 15px;
}

.right-column p {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

/* ##############################
    End Styling for Dashboard
############################### */

/* ###############################
styling for login and signup pages
############################### */
.main-content {
  margin-top: 50px;
}
.signup {
  margin-top: 100px;
}
.login {
  margin-top: 125px;
}

/* Center the form on the page */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-top: 80px;
  background-color: #f5f5f5;
}

/* Style for the form box */
.form-box {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: left;
}
.form-box h1{
  color: var(--fc-text-color);
  margin-bottom: 25px;
  text-align: center;
}

/* Form field styles */
.form-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.1em;
  color: var(--fc-text-color);
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(66, 113, 203, 0.3);
  border-radius: 5px;
  font-size: 1.2em;
  color: rgb(66, 113, 203);
  box-sizing: border-box;
  transition: border-color 0.5s ease;
}
.form-box input:focus {
  outline: none;
  border-color: var(--fc-button-border-color);
  color: darkblue;
  font-size: 1.2em;
}
.form-box input::placeholder {
  color: var(--fc-text-color);
}

/* Style the button */
.form-box button {
  width: 100%;
  padding: 12px;
  background-color: var(--fc-button-bg-color);
  color: var(--fc-button-text-color);
  border: 1px solid rgba(66, 113, 203, 0.3);
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}
.form-box button:hover, .form-box button:focus {
  background-color: var(--fc-button-hover-bg-color);
  border-color: var(--fc-button-border-color);
  color: var(--fc-text-color);
  outline: none;
}


/* --------------------------
   End form box styling
------------------------- */

/* Error message styling */
.error {
  color: red;
  margin-bottom: 10px;
}

/* Success message styling */
.success {
  color: green;
  margin-bottom: 10px;
}

.heading {
  padding-bottom: 10px;
}
.heading-info {
  padding-bottom: 30px;
  color: #777;
}

/* Adjust the button */

/* Error message styling */
.error {
  color: red;
  margin-bottom: 10px;
}

/* Success message styling */
.success {
  color: green;
  margin-bottom: 10px;
}
/* end styling for user info */

/* adding padding to the whole calendar over 768px */
@media (min-width: 768px) {
  .fc {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

/* Media query for mobile */
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .main-content {
    padding-top: 10px;
  }
  .fc-toolbar-title {
    font-size: 14px !important;
    padding: 0, 5, 0, 5 !important;
  }
  .navbar {
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
    padding-top: 0;
    height: 40px;
  }

  .hamburger {
    display: block; 
    margin-left: auto;
  }

  .nav-links {
    display: none; /* Hide the links by default on mobile */
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #333;
    z-index: 100;
    list-style: none;
  }

  /* Show the menu when the hamburger is clicked */
  .nav-links.show-menu {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  /* Make the calendar and other content responsive */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }
  /* User Info login and signup mobile styling */
  .form-container {
    padding: 20px; 
    height: auto; 
    min-height: calc(100vh - 50px); 
  }

  .form-box {
    padding: 20px;
    box-shadow: none; 
  }

  label {
    font-size: 0.9em; /* Adjust font size for smaller screens */
  }

  input {
    font-size: 1em;
    padding: 8px; /* Reduce padding to make it fit better on mobile */
  }

  .auth-button {
    width: 100%; /* Make the button take full width */
    padding: 10px;
    font-size: 1em;
  }

  .user-info {
    font-size: 0.9em; /* Adjust the size of user info text */
  }
  .user-info {
    padding: 15px;
    text-align: center;
  }

  .user-info strong {
    display: block;
    margin-bottom: 10px;
  }

  .edit-info {
    margin-top: 20px;
  }

  .edit-info label {
    font-size: 1em;
  }

  .edit-info input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }

  .auth-button {
    font-size: 1em;
  }
}
