/* Add some padding to the main content to avoid being hidden by the navbar */

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delete-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c9302c;
}

.modal-content button {
  background-color: #4CAF50; /* Green for Save */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.modal-content button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.delete-button:hover {
  background-color: #c9302c;
}

.cancel-button {
  background-color: #ddd;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-button:hover {
  background-color: #ccc;
}

/* styling for input field errors */
.input-error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

/* overriding FC styling */
.fc-addTaskButton-button, .fc-addProjectButton-button {
  background-color: blue !important;
  color: white !important;
}

.fc-addTaskButton-button:hover, .fc-addProjectButton-button:hover {
  background-color: darkblue !important;
}
.fc-today-button {
  background-color: red !important;
}

/* style the title and buttons */
.fc-toolbar {
  display: flex;
  flex-direction: column; /* Stack title and buttons vertically */
  align-items: center; /* Center all elements */
  margin-bottom: 20px; /* Adjust space below the toolbar */
}

/* Center and style the title */
.fc-toolbar-title {
  font-size: 24px;
  margin-bottom: 10px; /* Space between title and buttons */
  text-align: center;
  font-weight: bold;
}

/* Adjust the buttons layout */
.fc-toolbar-chunk {
  display: flex;
  justify-content: center;
}

/* Use this styling for month view all other views are 
handled in fetchTasks in Calendar.js */

/* non completed tasks */
.task-event {
  background-color: rgba(0, 0, 255, 0.5); 
  border-color: rgba(0, 0, 255, 1);
  color: #FFF;
}
/* Style for completed tasks */
.task-event.completed {
  background-color: grey; 
  border-color: darkgrey; 
}


